<div class="bg-wrapper">
  <div class="wrapper">
    <mat-card class="card-style">
        <mat-card class="inner-card ">
         <div class="row">
          <div class="col-md-12">
                <div class="icon-block"><i class="fa fa-check-circle-o fa-style" aria-hidden="true"></i></div>
          </div>
           <section class="reg-success-info">
                <h5 style="line-height: 2em;">The Registration was successful.<br>An email will be sent to you shortly with the class schedule</h5>
           </section>
           <div style="margin: 0 auto;">
           <a  style="color: #0088cc;" routerLink="/course">Back to course registration</a>
           </div>
        </div>
      </mat-card>
    </mat-card>
  </div>
</div>

